# PCAP Analysis
scapy==2.5.0
pyshark==0.6.0
dpkt==1.9.8

# Audio Analysis
scipy==1.11.4
numpy==1.26.3
librosa==0.10.1
soundfile==0.12.1

# Image/File Forensics
Pillow==10.2.0
python-magic-bin==0.4.14

# General Forensics
pycryptodome==3.20.0

# File type detection
filetype==1.2.0
